{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div style="width: 500px;">
{{ render_chart(chart) }}
</div>

<div style="width: 500px;">
{{ render_chart(chart2) }}
</div>

<div style="width: 500px;">
{{ render_chart(chart3) }}
</div>


{% endblock %}
