{% extends 'base.html.twig' %}

{% block title %}StatEurope
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="mb-4 text-center">📊 Tableau de bord combiné</h1>
		{{ component('Stat:FilterStatEurope') }}
		<div class="row g-4">
			<div class="col-12 col-lg-6">
				{{ component('Stat:ChartStatEurope') }}
			</div>
			<div class="col-12 col-lg-6">
				{{ component('Stat:DataTableStatEurope') }}
			</div>
		</div>
	</div>
{% endblock %}
