<div{{ attributes }}>
   <h2>Compteur {{ count }}</h2>
    <button data-action = "live#action" data-live-action-param="decrement">-</button>
    <button data-action = "live#action" data-live-action-param="increment">+</button>
</div>
